@import '../main';

button.phone-key {
  border-radius: 25px;
  padding: 0;
  div + div {
    font-size: 0.75rem;
  }
}

.phone-row-last {
  button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
