$border-color: #000;
$divider-color: #ced4da;
$primary-color: #007bff;
$error-color: #dc3545;

.border-shadow {
  box-shadow: 0 0 10px $border-color;
  border-radius: .25rem;
}

input.error, input.error:focus {
  color: $error-color;
  border: 1px solid $error-color;
  box-shadow: 0 0 0 0.2rem rgba($error-color, 0.25);

  & + span {
    color: $error-color;
  }
}
